@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.open-sans{
  font-family: "Open Sans", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.plus{
  font-family: "Plus Jakarta Sans", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.f-16{
  font-size: 16px !important;
}

:root{
  --color-gray: #888;
  --color-red: #ff0000;
  --color-blue: #0086FF;
  --color-black: #000;
  --bg-theme: #ECF6FF;
  --theme-text-color: #234A6B;
  --grey-color: #757575;
  --bg-light--theme:#F9FCFF;
}
.text-blue{
  color: var(--color-blue);
}

.text-black{
  color: var(--color-black);
}

.nav-links{
font-size: 16px !important;
font-style: normal;
font-family: "Inter", sans-serif !important;
font-weight: 400 !important;
line-height: normal !important;
color: var(--color-black) !important;

}

.nav-links:hover{
  color: var(--color-blue) !important;
}

.btn-navbar{
  display: flex;
padding: 10px 21px;
justify-content: center;
align-items: center;
gap: 25px;
border-radius: 12px;
background: var(--color-blue);
border: none;
color: white;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.bg-theme{
  background: var(--bg-theme) ;
}

.bg-light-theme{
  background: var(--bg-light--theme);
}


.f-56{
  font-size: 56.8px;
}
.f-16{
  font-size: 16px;
}
.f-19{
  font-size: 19px;
}
.rounded-12{
  border-radius: 12px !important;
}

.theme-text-color{
  color: var(--theme-text-color);
}

.btn-theme{
  display: flex;
padding: 14px 30px;
justify-content: center;
align-items: center;
gap: 25px;
border-radius: 8px;
background: var(--color-blue);
}

.text-grey{
  color: var(--grey-color);
}